.newsfeed-container, .profile-container {
    height: 100%;

}
.nav-bar {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    vertical-align: center;
    font-size: 30px;
    margin-right: 30px;
    width: 100%;
    float: top;
    line-height: 30px;
    font-weight: bold;
    background-color: rgb(27, 26, 26);
    height: 50px;
    border-top: 20px;
    color: white;
}

.h3{
    margin-right: 15px;
}

.link-profile, .link-newsfeed {
    margin-right: 40px;
    margin-left: 40px;
}


.btn-signout {
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-color: rgb(75, 69, 69);
}

.friends-list {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
    margin-top: 30px;
    width: 300px;
    height: 500px;
    margin-left: 40px;
    border-bottom: lightgray 2px ;
    color:white;
}

.link-profile {
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

h4 {
    border-bottom: rgb(74, 77, 80) solid 1px;
    padding-bottom: 10px;
    color:white;
    font-size: 25px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    align-items: center;
}

.posts-list {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
    margin-top: 30px;
    width: 300px;
    height: 500px;
    margin-left: 40px;
    border-bottom: lightgray 2px ;
    color:white;
    float: center; 
}


.ul-friends {
    color: white;
    padding-bottom: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.ul-friends li {
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(75, 69, 69);
}

.ul-posts {
    color: white;
    padding-bottom: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}


.ul-posts li {
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(75, 69, 69);
}


